/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  // colors
  --white: #fff;

  --color-border-premium-card: rgba(255, 255, 255, 0.2);
  --gradient-premium-card: linear-gradient(
    90.79deg,
    #65d46e -8.89%,
    #0b280d 100%
  );

  --color-button-secondary-hover: #f0f0f0;
  --color-button-secondary-active: #d1d1d1;

  --color-primary-100: #d1f2d4;
  --color-primary-200: #b2eab7;
  --color-primary-300: #93e19a;
  --color-primary-400: #7cda84;
  --color-primary-500: #65d46e;
  --color-primary-600: #5dcf66;
  --color-primary-700: #53c95b;
  --color-primary-800: #49c351;
  --color-primary-900: #37b93f;

  --color-background-100: #b8b8b8;
  --color-background-200: #898989;
  --color-background-300: #595959;
  --color-background-400: #363636;
  --color-background-500: #121212;
  --color-background-600: #101010;
  --color-background-700: #0d0d0d;
  --color-background-800: #0a0a0a;
  --color-background-900: #050505;

  --color-content-100: #bfbfbf;
  --color-content-200: #949494;
  --color-content-300: #696969;
  --color-content-400: #494949;
  --color-content-500: #292929;
  --color-content-600: #242424;
  --color-content-700: #1f1f1f;
  --color-content-800: #191919;
  --color-content-900: #0f0f0f;

  // roundings
  --rounding-l: 2em;
  --rounding-m: 1.5em;
  --rounding-s: 1em;
  --rounding-xs: 0.75em;

  // fonts
  --font-size-l: 24px;
  --font-size-m: 16px;
  --font-size-s: 16px;

  --font-weight-l: 700;
  --font-weight-m: 400;

  @media (max-width: 670px) {
    --font-size-s: 14px;
  }

  // transitions
  --transition-time: 0.2s;
}
