.button {
  font-size: var(--font-size-m);
  border: none;
  padding: 1em 1.5em;
  line-height: 1em;
  font-weight: var(--font-weight-l);
  letter-spacing: -0.0133em;
  border-radius: var(--rounding-m);
  transition: background-color var(--transition-time);
  cursor: pointer;

  &--primary {
    background-color: var(--color-primary-500);
    position: absolute;
    bottom: 2em;

    @media (max-width: 1186px) {
      position: static;
    }

    @media (max-width: 670px) {
      margin-top: 2.5em;
    }

    &:hover {
      background-color: var(--color-primary-700);
    }
    &:active {
      background-color: var(--color-primary-900);
    }
  }

  &--secondary {
    background-color: var(--white);

    &:hover {
      background-color: var(--color-button-secondary-hover);
    }
    &:active {
      background-color: var(--color-button-secondary-active);
    }
  }

  & &__play-icon {
    height: 0.75em;
    width: 0.75em;
    margin-right: 0.5em;
  }
}
