/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
///
///

@import "_button.scss";
@import "_card.scss";

#home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  gap: 1em;
  border: 1px solid #343434;
  border-radius: var(--rounding-l);
  margin: 1.5em;
  padding: 1.5em;
}
